@import'../others/iconfont.css';

@font-face{
  font-family:'Lora';
  src:url('../others/Lora-Regular.ttf');
}

ul{
  padding:0;
  margin:0;
}
li{
  list-style:none;
}
a{
  text-decoration: none;
}

.clearfix{
  content:'';
  display:block;
  clear:both;
}

body{
  position:fixed;
  margin:0;
  height:100%;
  width:100%;
  overflow:hidden;
  background:#ccc;
  font-family:'Lora';
  font-weight: 700;
  letter-spacing: .05em;
}
a{
  display:inline-block;
  color:#E0E0E0;
  transition:all .3s;
}
.no-show{
  display:none!important;
}

/* 主体大图区容器 */
.container{
  position:fixed;
  height:100%;
  width:100%;
}
.container [class$="img"]{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.container .front-img{
  z-index:10;
  background:url('../imgs/medicine_fg.png') no-repeat center;
  background-size: cover;
}
.container .bg-mask{
  width:100%;
  height:100%;
}
.container .video-con{
  position: fixed;
  right: 0;
  bottom: 0;
  /* width: 100%;
  height: 100%; */
  object-fit: cover;
}

/* 顶部导航栏 */
.header{
  position: fixed;
  top:0;
  left:0;
  z-index:20;
  width:100%;
  height:80px;
}
.header a{
  display:inline-block;
  width:100%;
  height:100%;
  /* transition:all .3s; */
}
.header a:hover{
  opacity: .7;
}
.header .logo-con{
  position: absolute;
  width:8%;
  height:100%;
  padding:15px 0;
  max-height:80px;
  min-height:50px;
  min-width:50px;
}
.header .logo-con a{
  background:url('../imgs/logo.svg') no-repeat center;
}
.header .header-nav{
  position: relative;
  float:right;
  width:100%;
  height:60px;
  text-transform: uppercase;
  font-size:15px;
}
.header-nav .nav-menu{
  float:right;
}
.header-nav .nav-menu li{
  float:left;
}
.header-nav .nav-menu a{
  padding:1.5em 1em;
}
.header-nav .nav-menu.mobile-ver{
  display:flex;
  flex-direction: column;
  position:fixed;
  z-index:20;
  width:100%;
  padding-top:60px;
  text-align: center;
}
.header-nav .nav-menu.mobile-ver a{
  padding:1.5em 0;
}
.icon-con{
  display:none;
  position: absolute;
  z-index: 20;
  top:10px;
  right:15px;
  width:26px;
  height:26px;
  cursor: pointer;
}
.icon-con span{
  display:block;
  width:20px;
  height:2px;
  background:#E0E0E0;
  transition:all .3s;
}
.icon-con .line{
  margin:5px 0;
}
.icon-con [class^="cross"]{
  position: absolute;
  top:12px;
  width:20px;
  height:2px;
}
.icon-con .cross1{
  transform: rotate(45deg);
}
.icon-con .cross2{
  transform: rotate(-45deg);
}



/* 底部footer */
.footer{
  display:flex;
  justify-content: space-between;
  position: fixed;
  bottom:0;
  left:0;
  z-index:20;
  width:100%;
  height:80px;
}
.footer.mobile-ver{
  height:100px;
  flex-direction: column;
  align-items: center;
}
.footer a{
  text-transform:uppercase;
}
.share-con{
  display:flex;
  justify-content: space-around;
  width:160px;
  height:100%;
  margin:20px 0;
  margin-left:20px;
}
/* .share-con.mobile-ver{
  margin:0;
} */
.share-con a{
  height:26px;
}
.share-con i{
  font-size:26px;
  font-weight: 500;
  transition: all .3s;
}
.share-con i:hover{
  opacity: .7;
}
.middle-con{
  padding-top:10px;
  margin-left:10px;
  text-align: center;
}
.middle-con a{
  border:1px solid #E0E0E0;
  padding:15px;
  margin-left:18px;
  font-size:15px;
  /* font-weight: 500; */
  /* transition:all .3s; */
}
.middle-con a:hover{
  color:#000;
  background:#E0E0E0;
}
.right-con{
  padding-top:30px;
  margin:0 30px;
}
.right-con a{
  margin-left:10px;
}
.right-con a:hover{
  opacity: .7;
}

/* 小屏幕/移动端背景 */
.mobile-bg{
  /* display:none; */
  position:fixed;
  z-index:15;
  width:100%;
  height:0;
  background:url('../imgs/midnight-tour-bg.png') no-repeat center/100% #000;
  transition:height .3s;
}


@media screen and (max-width:1200px){
  .footer{
    height:120px;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
  .share-con{
    padding-top:20px;
  }
  .middle-con{
    display:flex;
  }
  .middle-con a{
    padding-top:30px;
  }
  .right-con{
    display:flex;
    align-items: center;
    margin:0;
  }
}
@media screen and (max-width:800px){
  .footer{
    height:150px;
    justify-content:center;
    padding-bottom:20px;
    box-sizing: content-box;
  }
  .share-con{
    margin:0;
  }
  .middle-con{
    /* flex-direction: column;
    justify-content: space-between; */
    display:block;
    padding: 0;
    /* margin: 0; */
  }
  .middle-con a{
    display:block;
    padding:15px;
    width:15em;
    margin:10px 0;
  }
  .header .logo-con{
    padding:0 10px;
  }
  .header .logo-con a{
    background:url('../imgs/logo.svg') no-repeat center/100%;
  }
  /* .header .nav-menu li{
    width:5em;
  } */
}